/java/src/main/resources/** linguist-generated
/python/anyascii/_data/* linguist-generated
/js/block.js linguist-generated
/rust/src/data/* linguist-generated
/rust/src/block.rs linguist-generated
/rust/src/bank.txt linguist-generated
/go/block.go linguist-generated
/go/bank.go linguist-generated
/ruby/lib/data/* linguist-generated
/csharp/src/Transliteration.blocks.cs linguist-generated
/sh/anyascii linguist-generated
/php/_data/* linguist-generated
/unidecode/src/** linguist-vendored
/julia/src/data/* linguist-generated
/c/anyascii.c linguist-generated
